html, body {
    height: 100%
}

body {
    background-color: #69ccb9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica Neue, serif;
}

section {
    max-width: 23rem;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    padding: 1.25rem;
    min-height: 38rem;
    border-radius: 8px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.37);
}

.line-counter {
    border-bottom: #69ccb9 1px solid;
}

div.header-wrapper {
    text-align: left;
    position: relative;
    padding-bottom: 13px;
}

.header-wrapper:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background:#e6e6e6;
    left: 0;
    bottom: 0;
}

.header-question {
    padding-top: 5rem;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
}

.response-wrapper {
    padding-top: 2rem;
    display: flex;
}

.button-option {
    flex-grow: 1;
    padding-right: 0.5rem;
}

.next-button-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 2rem;
}

.option {
    color: #69ccb9;
    background-color: #fff;
    border: #eef2f4 2px solid;
    border-radius: 20px;
}

.option:hover,
.option:visited,
.option:active {
    cursor: pointer;
    background-color: #61a89b;
    color: #fff;
    border: none;
}

.back-tracker {
    border-bottom: #eef2f4 solid 1px;
    padding-bottom: 0.75rem;
}

.button {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 10px 0;
    width: 20rem;
    border-radius: 6px;
    overflow: hidden;
    background-color: transparent;
}

.para-diagnosis {
    margin: 2rem 0 2rem 0;
}

.button:not(:disabled) {
    background-color: #61a89b;
    color: #fff;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    background-color: #61a89b;
    color: #fff;
}

a.next-button-wrapper {
    left: 0;
    right: 0;
}